<header class="md-col-12 lg-col-12 sm-col-6">
  <nav class="nav navbar navbar-dark">
    <a href="" class="navbar-brand">
      <span>{{logo}}</span>
    </a>
    <a href="/" class="nav-link">Home</a>
    <a href="/about" class="nav-link">About</a>
    <a href="/contact" class="nav-link">Contact</a>
  </nav>
</header>