
{{> header}}

<div class="jumbotron jumbotron-fluid jum_wrap">
  <div class="container">
    <h1 class="display-4">{{pageTitle}}</h1>
    <p class="lead">
      Learn more about serverify's API
    </p>
  </div>
</div>

{{> footer}}
