
{{> header}}

<div class="jumbotron jumbotron-fluid jum_wrap img_overlay-contact">
  <div class="overlay">
    <div class="container txt-control">
      <h1 class="display-4">{{contactMsg}}</h1>
      <p class="lead">{{lead}}</p>
    </div>
  </div>
</div>

{{> footer}}
