
{{> header}}

<div class="jumbotron jumbotron-fluid jum_wrap img_overlay-home">
  <div class="overlay">
    <div class="container txt-control">
      <p class="lead">{{lead}}</p>
      <h1 class="display-4">{{welcomeMsg}}</h1>
    </div>
  </div>
</div>

{{> footer}}
