
{{> header}}

<div class="jumbotron jumbotron-fluid jum_wrap">
  <div class="container">
    <p class="lead">Hey there! Let's get you started with</p>
    <h1 class="display-4">{{welcomeMsg}}</h1>
  </div>
</div>

{{> footer}}
