#navbarNav {
  justify-content: flex-end;
}

.footer-copyright {
  color: #e2e2e2;
}

.jum_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-color: #1e2124;
  color: #c9c9c9;
}

.txt-control {
  text-align: center;
}

.img_wrap-about {
  background: url('/img/frontPage.JPG') center center no-repeat;
  background-size: cover;
}

.img_overlay-home {
  background: url('/img/alexandru-acea-1160461-unsplash.jpg') center center no-repeat;
  background-size: cover;
}

.img_overlay-contact {
  background: url('/img/contactBg.JPG') center center no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
}